<%= link_to "create new list", new_list_path%>
<%= link_to "Accepted requests", requests_accepted_list_path%>
<table>
    <thead>
        <th>Title</th>
    </thead>
    <tbody><% if @lists.any? %>
        <% @lists.each do |l|%>
            <tr>

                <td>  <%=link_to  l.title , list_path(id: l.id) %> </td>
            <% end %>
            <% end %>
            </tr>
    </tbody>
</table>

