
<table>
    <thead>
        <th>Title</th>
    </thead>
    <tbody>
        <% @lists.each do |l|%>
            <tr>

                <td>  <%=link_to  l.title , show_list_path(id: l.id) %> </td>
            <% end %>
            </tr>
    </tbody>
</table>

