<table>
    <thead>
        <th>Title</th>
        <th>Description</th>
    </thead>
    <tbody>
        <% @cards.each do |c|%>
            <tr>

                <td>  <%= c.title%> </td>
                <td> <%= c.description%></td>
            <% end %>
            </tr>
    </tbody>
</table>

